 h5{
  font-family: 'Futura B';
  fontsize: 20px;
}
.m-8{
  margin-top: 60px;
}
.form-control{
  height: 31px;
}
.col-form-label{
  font-size: 15px;
  font-color: #a1a0a0;
}
.imp-note{
  font-size: 15px;
 

}

.btn.btn-white{
    color: #000;
    background: #fff;
    border-radius: 0;
    padding: 6px 45px;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 800;
    border:1px solid #000;
}
.custom-radius{

  border-radius: unset;
}

.another-btn{
    color: #000;
    background: #fff;
    border-radius: 0;
    padding: 6px 15px;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: 800;
    border:1px solid #000;
    margin-left: 153px;

}
.col-form-label-custom{
 padding-left: 1px;
 text-align: right;


}
.flex-parent {
  display: flex;
  margin-top: 30px;


}

.jc-center {
  justify-content: end;
  padding: 150px 0px 0px 0px 

}

button.margin-right {
  margin-right: 20px;
}


.btn.btn-black{
color: #fff;
background: #000;
border-radius: 0;
padding: 6px 45px;
letter-spacing: 2px;
font-size: 10px;
font-weight: 800;
border:1px solid #000;
}
.form-padding{
margin-left: 35px;
}

 @media only screen and (max-width: 580px) {
  .col-form-label-custom{
  text-align:left;
  }
  .col-form-label-custom{
    align: left;
    margin-left: 11px;
  }
  }
  .save-btn{
  width: 100%;
font-family: 'Futura B';
    font-size: 10px;
    color: #fff;
    background: #000;
    border-radius: unset;
    
}
.cancel-btn {
    width: 100%;
    font-family: 'Futura B';
    font-size: 10px;
    color:#000;
    background:  #fff;
    border-radius: unset;
    border: 1px solid;
    border-color: black;
    margin: 0px !important;

}
.pad-cl{
     padding-right: 1px;
    padding-left: 1px;
}
.imp-link{
color: #a1a0a0;
}