<div class="container">
<h1 class="page-title">Company Information</h1>
<p>Tell us about the Company</p>

<section class="m-8">
	<h5>ABOUT THE COMPANY</h5>
	<p>Please select your fulfilment type</p>
	<form class="form-padding">
	 <div class="row">
	 	<div class="col-lg-4">
	  <div class="form-group row mb-3">
	    <label for="colFormLabelSm" class="col-sm-2 col-form-label-custom col-form-label">Email</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">
	    </div>
	  </div>
	  <div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-2 col-form-label-custom col-form-label">Email</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
	    </div>
	  </div>
	  <div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-2 col-form-label-custom col-form-label">Email</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
	    </div>
	  </div>
	</div>
	  <div class="col-lg-4">
	  	<div class="form-group row  mb-3">
	    <label for="colFormLabelSm" class="col-sm-2 col-form-label-custom col-form-label">Email</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">
	    </div>
	  </div>
	  <div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-2 col-form-label-custom col-form-label">Email</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
	    </div>
	  </div>
	  <div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-2 col-form-label-custom col-form-label">Email</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
	    </div>
	  </div>
	  </div>
	  <div class="col-lg-4">
	  </div>
	 </div>
	</form>
	</section>
	<section class="mt-5">
	<h5 class="mb-4">YOUR FULFILMENT LOCATION</h5>
	 <form class="form-padding">
	  <div class="row">
		<div class="col-lg-4">
	  <div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-2 col-form-label-custom col-form-label">Email</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
	    </div>
	  </div>
	  <div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-2 col-form-label-custom col-form-label">Email</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
	    </div>
	  </div>
	  <div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-2 col-form-label-custom col-form-label">Email</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
	    </div>
	  </div>
	  <div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-2 col-form-label-custom col-form-label"></label>
	    <div class="col-sm-10">
	     <button type="submit" class="btn btn-white">ADD ANOTHER LOCATION</button>
	    </div>
	  </div>
	</div>
	<div class="col-lg-4">
		<div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-2 col-form-label-custom col-form-label">Email</label>
	    <div class="col-sm-10">
	      <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
	    </div>
	</div>
	<div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-2 col-form-label-custom col-form-label">Email</label>
	   <div class="col-sm-10">
	      <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
	   </div>
	</div>
	<div class="form-group row  mb-3">
	   <label for="colFormLabel" class="col-sm-2 col-form-label-custom col-form-label">Email</label>
	  <div class="col-sm-10">
	    <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
	  </div>
	</div>
	</div>
   <div class="col-lg-4">
  	 <p>Why Do We need this</p>
   </div>
 </div>
</form>
</section>

<div class="flex-parent jc-center">
  <button type="submit" class=" btn btn-white green margin-right">Cancel</button>
  <button type="submit" class="btn btn-black magenta">Save</button>
</div>

</div>