<div class="container">
<h1 class="page-title">COMPANY INFORMATION</h1>
<p>Tell us about the Company</p>

<section class="m-8">
	<h5>ABOUT THE COMPANY</h5>
	<form class="form-padding">
	 <div class="row">
	 	<div class="col-lg-5 About The Company">
	  <div class="form-group row mb-3">
	    <label for="colFormLabelSm" class="col-sm-4 col-form-label-custom col-form-label">Brand Display Name*</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control form-control-sm custom-radius" id="colFormLabelSm" >
	    </div>
	  </div>
	  <div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-4 col-form-label-custom col-form-label">First Name*</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control custom-radius" id="colFormLabel" >
	    </div>
	  </div>
	  <div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-4 col-form-label-custom col-form-label">Address Line One*</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control custom-radius" id="colFormLabel">
	    </div>
	  </div>
	  <div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-4 col-form-label-custom col-form-label">City*</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control custom-radius" id="colFormLabel">
	    </div>
	  </div>
	  <div class="form-group row  mb-3">


	    <label for="colFormLabel" class="col-sm-4 col-form-label-custom col-form-label">Country*</label>
	    <div class="col-sm-8">

	      <input type="email" class="form-control custom-radius" id="colFormLabel">
	    </div>
	  </div>
	  <div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-4 col-form-label-custom col-form-label">Phone Number*</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control custom-radius" id="colFormLabel"> 

	    </div>
	  </div>
	  <div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-4 col-form-label-custom col-form-label">Website URL</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control custom-radius" id="colFormLabel">
	    </div>
	  </div>
	</div>
	  <div class="col-lg-5">
	  	<div class="form-group row  mb-3">
	    <label for="colFormLabelSm" class="col-sm-4 col-form-label-custom col-form-label">Tax ID*</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control  custom-radius form-control-sm" id="colFormLabelSm">
	    </div>
	  </div>
	  <div class="form-group row  mb-3">
	    <label for="colFormLabelSm" class="col-sm-4 col-form-label-custom col-form-label">Last Name*</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control custom-radius form-control-sm" id="colFormLabelSm">
	    </div>
	  </div>
	  <div class="form-group row  mb-3">
	    <label for="colFormLabelSm" class="col-sm-4 col-form-label-custom col-form-label">Address line Two*</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control  custom-radius form-control-sm" id="colFormLabelSm">
	    </div>
	  </div>
	   <div class="form-group row  mb-3">
	    <label for="colFormLabelSm" class="col-sm-4 col-form-label-custom col-form-label">Sate*</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control  custom-radius form-control-sm" id="colFormLabelSm">
	    </div>
	  </div>
	   <div class="form-group row  mb-3">
	    <label for="colFormLabelSm" class="col-sm-4 col-form-label-custom col-form-label">Zip*</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control  custom-radius form-control-sm" id="colFormLabelSm" >
	    </div>
	  </div>
	   <div class="form-group row  mb-3">
	    <label for="colFormLabelSm" class="col-sm-4 col-form-label-custom col-form-label">Mobile Number*</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control  custom-radius form-control-sm" id="colFormLabelSm">
	    </div>
	  </div>
	 </div>
	</div>
	</form>
	</section>
	<section class="mt-5">
	<h5 class="mb-4">YOUR FULFILMENT LOCATION</h5>
	 <form class="form-padding">
	  <div class="row">
		<div class="col-lg-5">

	  <div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-4 col-form-label-custom col-form-label">Address Line One</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control   custom-radius" id="colFormLabel">
	    </div>
	  </div>

	  <div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-4 col-form-label-custom col-form-label">City*</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control  custom-radius custom-radius" id="colFormLabel" >
	    </div>
	  </div>

	  <div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-4 col-form-label-custom col-form-label">Country</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control  custom-radius custom-radius" id="colFormLabel">
	    </div>
	  </div>

	  <div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-4 col-form-label-custom col-form-label">Phone Number</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control custom-radius custom-radius" id="colFormLabel">
	    </div>
	  </div>
       
       <div class="flex-parent jc-left">
  <button type="submit" class=" another-btn btn-white green margin-left">ADD ANOTHER LOCATION</button>

</div>

	</div>
	<div class="col-lg-5">
		<div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-4 col-form-label-custom col-form-label">Address Line Two</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control  custom-radius" id="colFormLabel">
	      
	    </div>
	</div>

	<div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-4 col-form-label-custom col-form-label">Sate</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control custom-radius" id="colFormLabel">
	    </div>
	</div>
	<div class="form-group row  mb-3">
	    <label for="colFormLabel" class="col-sm-4 col-form-label-custom col-form-label">Zip*</label>
	    <div class="col-sm-8">
	      <input type="email" class="form-control custom-radius" id="colFormLabel">
	    </div>
	</div>

	</div>
	<div class="col-lg-2 "> <a href="https://www.google.com" class="imp-link">Why Do We Need This?</a> </div>
   
 </div>
</form>
</section>
<div class="row">
	<div class="col-lg-10 "> </div>
	<div class="col-lg-1 pad-cl"><button type="submit" class="cancel-btn">Cancel</button></div>
	<div class="col-lg-1 pad-cl">  <button type="submit" class="save-btn" >Save</button></div> 
</div>
<div class="flex-parent jc-center">
  
 
</div>

</div>