<div class="login-container">
  <div class="login-wrapper">
    <h1>Brand Partner Registration</h1>
    <p>Please enter your e-mail and password:</p>
  </div>
  <form method="post" style="width: 100%;" [formGroup]="loginForm" (submit)="userAuth()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput  placeholder="Enter your email." type="email" formControlName="email">
      <mat-error *ngIf="emailError">
        {{emailRMsg}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput  placeholder="Enter your password." type="password" formControlName="password">
      <mat-error *ngIf="passwordError">
        {{passwordMsg}}
      </mat-error>
    </mat-form-field>
    <div class="login-button-row">
      <button mat-raised-button>Login</button>
    </div>
    <p>
      By signing-in you agree to The Nutricosmetic Company's <a href="#">Conditions of Use</a>. Please see our <a href="#">Privacy Policy</a>, and our <a href="#">Cookie Policy</a>.
    </p>
    <a href="#">Need Help?</a>
  </form>
</div>
