<div class="container main-syc-company">
	<h1 class="syc-company-page-title">SYCING YOUR INVENTORY WITH TNC</h1>
	<div class="row">
    <div class="col-md-10">
	 <h5 class="syc-company-page-description">The Nutrico Company can connect with a variety of inventory platform to sync product detail with your store.The First thing you need to do when settting up an</h5>
	</div>
	<div class="col-2">
		<a href="">Why do you need this?</a>
	</div>
    </div>

	<div class="platform-card card">
     <div class="row">
     	<div class="col-md-4">
     	<h3 class="feed-title">Feed conection</h3>
     	<p class="description">Set up the credential needed to access your dropship providers inventory feed.</p>
     	</div>
     	<div class="col-md-8">
            <form>
			  <div class="form-group platform-person-name">
			    <label for="">Name</label>
			    <input type="name" class="form-control" id="" aria-describedby="emailHelp" placeholder="Alli faye">
			  </div>
			</form>
			<div class="platform">
				<h3 class="select-platform">Select platforms</h3>
				<p>Jetti can integrate with a variety ofJetti can integrate with a variety of Jetti can integrate with a variety of Jetti can integrate with a variety of Jetti can integrate with a variety of</p>
					
				<table class="select-platform-table">
				    <tr style="font-size:24px;">
				      <td style="text-align: center;">
				        <div class="platform-icon">
							<div class="card">
								<i class="fa fa-signal"></i>
								<p>DIGITAL</p>
							</div>
						</div>
				      </td>
				      <td  style="text-align: center;">
				        <div class="platform-icon">
							<div class="card">
								<i class="fa fa-signal"></i>
								<p>BIG COMMERCE</p>
							</div>
						</div>
				      </td>
				      <td  style="text-align: center;">
				       <div class="platform-icon">
							<div class="card">
								<i class="fa fa-signal"></i>
								<p>ETSY</p>
							</div>
						</div>
				      </td>
				      <td  style="text-align: center;">
				        <div class="platform-icon">
							<div class="card">
								<i class="fa fa-signal"></i>
								<p>FTP CSV</p>
							</div>
						</div>
				      </td>
				      <td  style="text-align: center;">
				        <div class="platform-icon">
							<div class="card">
								<i class="fa fa-signal"></i>
								<p>GOOGLE DRIVE</p>
							</div>
						</div>
				      </td>
				    </tr>
			
				    <tr style="font-size:24px;">
				      <td style="text-align: center;">
				        <div class="platform-icon">
							<div class="card">
								<i class="fa fa-signal"></i>
								<p>MANUAL</p>
							</div>
						</div>
				      </td>
				      <td style="text-align: center;">
				        <div class="platform-icon">
							<div class="card">
								<i class="fa fa-signal"></i>
								<p>MAGENTO</p>
							</div>
						</div>
				      </td>
				      <td style="text-align: center;">
				       <div class="platform-icon">
							<div class="card">
								<i class="fa fa-signal"></i>
								<p>MAGENTO LEGACY</p>
							</div>
						</div>
				      </td>
				      <td style="text-align: center;">
				        <div class="platform-icon">
							<div class="card">
								<i class="fa fa-signal"></i>
								<p>OPEN CART</p>
							</div>
						</div>
				      </td>
				      <td style="text-align: center;">
				        <div class="platform-icon">
							<div class="card">
								<i class="fa fa-signal"></i>
								<p>PRESTA SHOP</p>
							</div>
						</div>
				      </td>
				    </tr>
				
				    <tr style="font-size:24px;">
				      <td style="text-align: center;">
				        <div class="platform-icon">
							<div class="card">
								<i class="fa fa-signal"></i>
								<p>SELZ</p>
							</div>
						</div>
				      </td>
				      <td style="text-align: center;">
				        <div class="platform-icon">
							<div class="card">
								<i class="fa fa-signal"></i>
								<p>SHOPIFY</p>
							</div>
						</div>
				      </td>
				      <td style="text-align: center;">
				       <div class="platform-icon">
							<div class="card">
								<i class="fa fa-signal"></i>
								<p>SHOPIFY CSV</p>
							</div>
						</div>
				      </td>
				      <td style="text-align: center;">
				        <div class="platform-icon">
							<div class="card">
								<i class="fa fa-signal"></i>
								<p>SQUARE SPACE</p>
							</div>
						</div>
				      </td>
				      <td style="text-align: center;">
				        <div class="platform-icon">
							<div class="card">
								<i class="fa fa-signal"></i>
								<p>UPLOAD</p>
							</div>
						</div>
				      </td>
				    </tr>
				
				    <tr style="font-size:24px;">
				      <td style="text-align: center;">
				        <div class="platform-icon">
							<div class="card">
								<i class="fa fa-signal"></i>
								<p>WOOCOMMERCE</p>
							</div>
						</div>
				      </td>
				      <td style="text-align: center;">
				        <div class="platform-icon">
							<div class="card">
								<i class="fa fa-signal"></i>
								<p>LEGACY</p>
							</div>
						</div>
				      </td>
				      <td style="text-align: center;">
				       <div class="platform-icon">
							<div class="card">
								<i class="fa fa-signal"></i>
								<p>XML</p>
							</div>
						</div>
				      </td>
				    </tr>
				 </table>
			</div>
			<form>
			  <div class="form-group platform-store-name">
			    <label for="">Store name (e.g. jetti dropship.myshopify.com)</label>
			    <input type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="myvendor.myshopify">
			  </div>
			  <div class="form-group platform-api-pass">
			    <label for="exampleInputEmail1">Api password</label>
			    <input type="text" class="form-control" id="" aria-describedby="" placeholder="dfsdff897df887f7f7ff77dfccc7">
			  </div>
			</form>
     	</div>
     </div>
	</div>
    <div class="flex-parent jc-center">
	  <button type="submit" class=" btn btn-white green margin-right">Cancel</button>
	  <button type="submit" class="btn btn-black magenta">Save</button>
	</div>
</div>