<div class="billing">
  <div class="register-wrapper">
    <h1>Brand Partner Registration</h1>
    <p>Register Process:</p>
  </div>
  <form method="post" style="width: 100%;" [formGroup]="billingForm" (submit)="updateBilling()">
    <input  placeholder="location_address_line1" type="text" formControlName="location_address_line1">
    <input type="text" formControlName="brand_address_type" value="Billing">
    <input  placeholder="location_address_line2" type="text" formControlName="location_address_line2">
    <input  placeholder="location_city" type="text" formControlName="location_city">
    <input  placeholder="location_state" type="text" formControlName="location_state">
    <input  placeholder="location_zip" type="text" formControlName="location_zip">
    <input  placeholder="location_country" type="text" formControlName="location_country">
    <input  placeholder="brand_phone_number" type="text" formControlName="brand_phone_number">

    <input  placeholder="bank_name" type="text" formControlName="bank_name">
    <input  placeholder="bank_routing_number" type="text" formControlName="bank_routing_number">
    <input  placeholder="bank_account_number" type="text" formControlName="bank_account_number">
    <input  placeholder="bank_iban_number" type="text" formControlName="bank_iban_number">
    <input  placeholder="bank_bic_number" type="text" formControlName="bank_bic_number">

    <div class="login-button-row">
      <button mat-raised-button>Post</button>
    </div>
    <p>
      By signing-in you agree to The Nutricosmetic Company's <a href="#">Conditions of Use</a>. Please see our <a href="#">Privacy Policy</a>, and our <a href="#">Cookie Policy</a>.
    </p>
    <a href="#">Need Help?</a>
  </form>
</div>
