
<p>Please confirm you inventory</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Status</th>
      <th scope="col">Type</th>
      <th scope="col">Service Fee</th>
      <th scope="col">RRP</th>
      <th scope="col">RRP Excel.tax</th>
      <th scope="col">Shiping</th>
      <th scope="col">Inventory</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row ">
        
        <div class=" border-div">
          <div class="row">
         <div class="col-lg-1 for-padding"><input type="checkbox" id="sale-req" name="sale-req" value="product"> </div>
         <div class="col-lg-3 for-padding"> <img class="row-img" src="assets/images/hope.jpg"></div>
         <div class="col-lg-6 for-padding model">
          <h6>Advance retinol complex</h6>
          <h6>Skintones, fineline & wrinkles</h6>
          <p>Zen-035</p>
          <div class="shape">
            <p class="shape-text">3 x 30ml</p>  
          </div></div>
        </div>
      </div>
    </td>
    <td>
     
       <div class="row ">
         <div class="col-lg-6 act">
           <div class="shape-2 ">
        <p class="shape-text-2 ">Active</p>  
      </div>
          </div>
          <div class="col-lg-6 ">
            <hr>
             <u>zeni</u>
      <p class="third" >Dropshiped / Mannual</p>
      <u class="weight">285.00g</u>
          </div>
          </div>
        </td>
    <td>
     
      <p class="supl">Supplement</p></td>




    <td class="algn">
     <div class="border-div">
      <p class="weight algn">25.00%</p>
      <p class="third algn">COMISSION</p>
      </div>
    </td>
    <td class="weight algn">
    <div class="border-div">
      <u class="weight"><b class="algn">125.00</b></u>
      <p class="third algn online">ONLINE</p>
      <p class="third algn">STORE / GBP</p>
    </div>
    </td>
    <td class="weight algn">
     <div class="border-div">
      <u class="weight"><b class="algn">125.00</b></u>
      <p class="third algn online">ONLINE</p>
      <p class="third algn">STORE / GBP</p>
    </div>
    </td>
    <td class="weight algn line-height">
      
      <u>220.00g</u><br>
      <u>220.00g</u><br>
      <u>220.00g</u><br>
    </td>
    <td class="algn">
     <div class="border-div avail">
      <u class="weight"><b >Available 100</b></u>
        <div class="box">
    <div class="box-arrow-border">
      <div class="box-arrow-background"></div>
    </div>
    <div class="box-content">
     Feed connected
    </div>
  </div>
    </div>
  </td>
  </tr>
  <tr>
      <td scope="row ">
        
        <div class=" border-div">
          <div class="row">
         <div class="col-lg-1 for-padding"><input type="checkbox" id="sale-req" name="sale-req" value="product"> </div>
         <div class="col-lg-3 for-padding"> <img class="row-img" src="assets/images/hope.jpg"></div>
         <div class="col-lg-6 for-padding model">
          <h6>Advance retinol complex</h6>
          <h6>Skintones, fineline & wrinkles</h6>
          <p>Zen-035</p>
          <div class="shape">
            <p class="shape-text">3 x 30ml</p>  
          </div></div>
        </div>
      </div>
    </td>
    <td>
     
       <div class="row ">
         <div class="col-lg-6 act">
           <div class="shape-2 ">
        <p class="shape-text-2 ">Active</p>  
      </div>
          </div>
          <div class="col-lg-6 ">
            <hr>
             <u>zeni</u>
      <p class="third" >Dropshiped / Mannual</p>
      <u class="weight">285.00g</u>
          </div>
          </div>
        </td>
    <td>
     
      <p class="supl">Supplement</p></td>




    <td class="algn">
     <div class="border-div">
      <p class="weight algn">25.00%</p>
      <p class="third algn">COMISSION</p>
      </div>
    </td>
    <td class="weight algn">
    <div class="border-div">
      <u class="weight"><b class="algn">125.00</b></u>
      <p class="third algn online">ONLINE</p>
      <p class="third algn">STORE / GBP</p>
    </div>
    </td>
    <td class="weight algn">
     <div class="border-div">
      <u class="weight"><b class="algn">125.00</b></u>
      <p class="third algn online">ONLINE</p>
      <p class="third algn">STORE / GBP</p>
    </div>
    </td>
    <td class="weight algn line-height">
      
      <u>220.00g</u><br>
      <u>220.00g</u><br>
      <u>220.00g</u><br>
    </td>
    <td class="algn">
     <div class="border-div avail">
      <u class="weight"><b >Available 100</b></u>
        <div class="box">
    <div class="box-arrow-border">
      <div class="box-arrow-background"></div>
    </div>
    <div class="box-content">
     Feed connected
    </div>
  </div>
    </div>
  </td>
  </tr>
   <tr>
      <td scope="row ">
        
        <div class=" border-div">
          <div class="row">
         <div class="col-lg-1 for-padding"><input type="checkbox" id="sale-req" name="sale-req" value="product"> </div>
         <div class="col-lg-3 for-padding"> <img class="row-img" src="assets/images/hope.jpg"></div>
         <div class="col-lg-6 for-padding model">
          <h6>Advance retinol complex</h6>
          <h6>Skintones, fineline & wrinkles</h6>
          <p>Zen-035</p>
          <div class="shape">
            <p class="shape-text">3 x 30ml</p>  
          </div></div>
        </div>
      </div>
    </td>
    <td>
     
       <div class="row ">
         <div class="col-lg-6 act">
           <div class="shape-2 ">
        <p class="shape-text-2 ">Active</p>  
      </div>
          </div>
          <div class="col-lg-6 ">
            <hr>
             <u>zeni</u>
      <p class="third" >Dropshiped / Mannual</p>
      <u class="weight">285.00g</u>
          </div>
          </div>
        </td>
    <td>
     
      <p class="supl">Supplement</p></td>




    <td class="algn">
     <div class="border-div">
      <p class="weight algn">25.00%</p>
      <p class="third algn">COMISSION</p>
      </div>
    </td>
    <td class="weight algn">
    <div class="border-div">
      <u class="weight"><b class="algn">125.00</b></u>
      <p class="third algn online">ONLINE</p>
      <p class="third algn">STORE / GBP</p>
    </div>
    </td>
    <td class="weight algn">
     <div class="border-div">
      <u class="weight"><b class="algn">125.00</b></u>
      <p class="third algn online">ONLINE</p>
      <p class="third algn">STORE / GBP</p>
    </div>
    </td>
    <td class="weight algn line-height">
      
      <u>220.00g</u><br>
      <u>220.00g</u><br>
      <u>220.00g</u><br>
    </td>
    <td class="algn">
     <div class="border-div avail">
      <u class="weight"><b >Available 100</b></u>
    <div class="box">
    <div class="box-arrow-border">
      <div class="box-arrow-background"></div>
    </div>
    <div class="box-content">
     Feed connected
    </div>
  </div>
    </div>
  </td>
  </tr>
</tbody>
</table>

