<div class="container">
<h1 class="page-title">Products & Inventory</h1>
<p>Please have the following before you begin:</p>
<ul class="product-req-info">
	<li>Your full inventory that you wish to list with the Nutricosmetic Company.</li>
	<li>Product pricing, weight, HS codes, tax information and country of origin.</li>
	<li>Product specifications and ingredients.</li>
	<li>E-commerce industry standard pack shot images of each product, front and back.</li>
	<li>Any additional images you would like to include in your listing.</li>
</ul>
<p class="note line-hi">(Please note all the images must be approved by the Nutricosmetic Company before being listed on the plat form)</p> <br>
<p class="line-hi"> If you don't have all the relevant information required, please save your application and continue where you left off once you have gathered the information.</p><br>
<p>it will take approximately 3-5mins per product.</p>
<br>
<label class="fon" for="product-number">How many product will you be listing with The Nutricosmetic Company*</label>
<input  type="text" id="product-number" name="product-number" placeholder="Please enter the number here">

<section class="m-8">
	<h5 style="font-family: Futura M;">TELL US MORE ABOUT YOUR BRAND...</h5>
	<p>From the following, please select which statments apply on your brand:</p>
	<div class="brand-checkbox">
		<div class="row">
		<div class="col-lg-4">

		</div>
			<div class="col-lg-8 col-sm-12 col-xs-12 col-md-12 ">
				<div class="check-style">
					
				<input type="checkbox" id="organic" name="organic" class="chk">
				<label style="font-size: 16px; margin-left: 20px;" for="organic">We use only natural & organic ingredients and material, that's why we're COSMOS certified</label><br>
				<input type="checkbox" id="certified" name="certified" class="chk">
				<label style="font-size: 16px; margin-left: 20px;" for="certified">We balance purpose and profit, that's why we're a certified B Corporation</label><br>
				<input type="checkbox" id="across" name="across" class="chk">
				<label style="font-size: 16px; margin-left: 20px;" for="across">We're proud to be vegan friendly across all our products</label><br>
				<input type="checkbox" id="friendly" name="friendly" class="chk">
				<label style="font-size: 16px;margin-left: 20px;" for="friendly">Our products are eco-friendly, so they're not just good for you but the enviroment too</label><br>
				<input type="checkbox" id="locally" name="locally" class="chk">
				<label style="font-size: 16px;margin-left: 20px;px" for="locally">We only use eco-friendly packaging, that our customers can re-use or recycle</label><br>
				<input type="checkbox" id="made" name="made" class="chk">
				<label style="font-size: 16px;margin-left: 20px;" for="made">All our product are locally made</label><br>
				<input type="checkbox" id="protecting" name="protecting" class="chk">
				<label style="font-size: 16px; margin-left: 20px;" for="protecting">We belive in empowering farmers, workers and protecting their enviroment, that's why were fair trade certi-</label><br>
				<input type="checkbox" id="testing" name="testing" class="chk">
				<label style="font-size: 16px;margin-left: 20px;" for="testing">We don't belive in testing on animals, that's why all of our produst is cruelty-free</label><br>
				<input type="checkbox" id="lifestyle" name="lifestyle" class="chk">
				<label style="font-size: 16px;margin-left: 20px;" for="lifestyle">Our product are sustainable throughout their lifestyle: providing enviromental, social and economic benefits</label><br>
				<input type="checkbox" id="enterprise" name="enterprise" class="chk">
				<label style="font-size: 16px;margin-left: 20px;" for="enterprise">We belive in giving back to the community, that's why we're the part of a social enterprise scheme</label><br>
				<input  type="text" id="organisation-name" name="organisation-name" placeholder="Please enter the organisation name Here"> 
				<p class="other-orgaisation">If you're certified by any other organisation, please state below:</p>
				<input  type="text" id="organisation-name" name="organisation-name" placeholder="Please enter the organisation name Here, using the comma after each name"> <br>
		    </div>
</div>
</div>
				
</div>

</section>



</div>