$small: 600px;
$medium: 768px;
.login-container{
  width: 100%;
  margin: 0 auto;
  .login-wrapper{
    text-align: center;
    h1{
      font-size: 22px;
      text-transform: uppercase;
      font-family: "Futura B";
      letter-spacing: .2em;
    }
  }
  form{
    width: 30% !important;
    margin: 0 auto;
    a{
      color: #454545;
    }
  }
  ::ng-deep {
    .mat-form-field{
      width: 100%;
    }
    .mat-form-field-appearance-outline {
      .mat-form-field-outline-end {
        border-radius: 0 !important;
      }
      .mat-form-field-outline-start{
        border-radius: 0 !important;
      }
    }
  }
  .login-button-row {
    button {
      width: 100%;
      background: #000;
      color: #ffffff;
      border-radius: 0;
      text-transform: uppercase;
      padding: 5px;
    }
  }
  @media screen and (max-width: $medium) {
    form {
      width: 60% !important;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: $small) {
    //do Smth
    width: 90%;
    .login-wrapper {
      h1 {
        font-size: 13px;
      }
    }
    form{
      width: 90% !important;
      margin: 0 auto;
    }
  }
}



 h5{
  font-family: 'Futura B';
}
.check-style{
  margin-left: 55px;
}
.m-8{
  margin-top: 60px;
}
.product-req-info{

}
.other-orgaisation{
  margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 0px;
}
#product-number{
  width: 410px;

border-radius: 3px;
border: solid;
border-width: thin;
border-color: #a1a0a0;
}
#organisation-name{
  width: 600px;
  margin-left: 30px;
  border-radius: 3px;
  border: solid;
border-width: thin;
border-color: #a1a0a0;
}
.product-tag{
  font-size: 16px;
}
.note {
      margin-top: -19px;
      font-style: italic;
      color: #a1a0a0;
}