 h5{
  font-family: 'Futura B';
}
.check-style{
  margin-left: 55px;
}

.m-8{
  margin-top: 30px;
}
.chk{
  margin-top: 12px;
}
.product-req-info{

}
.fon{
 font-size: 18px;
 line-height: 6;
}
.line-hi{
  margin-bottom: 0px;
}
.other-orgaisation{
  margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 0px;
}
#product-number{
  width: 410px;
margin-left: 5px;
border-radius: unset;
border: solid;
border-width: thin;
border-color: #a1a0a0;
}
#organisation-name{
  margin-top: 20px;
  margin-bottom: 25px;
  width: 600px;
  margin-left: 30px;
  border-radius: 3px;
  border: solid;
border-width: thin;
border-color: #a1a0a0;
}
.product-tag{
  font-size: 16px;
}
.note {
      margin-top: -19px;
      font-style: italic;
      color: #a1a0a0;
}