$small: 600px;
$medium: 768px;
.login-container{
  width: 100%;
  margin: 0 auto;
  .login-wrapper{
    text-align: center;
    h1{
      font-size: 22px;
      text-transform: uppercase;
      font-family: "Futura B";
      letter-spacing: .2em;
    }
  }
  form{
    width: 30% !important;
    margin: 0 auto;
    a{
      color: #454545;
    }
  }
  ::ng-deep {
    .mat-form-field{
      width: 100%;
    }
    .mat-form-field-appearance-outline {
      .mat-form-field-outline-end {
        border-radius: 0 !important;
      }
      .mat-form-field-outline-start{
        border-radius: 0 !important;
      }
    }
  }
  .login-button-row {
    button {
      width: 100%;
      background: #000;
      color: #ffffff;
      border-radius: 0;
      text-transform: uppercase;
      padding: 5px;
    }
  }
  @media screen and (max-width: $medium) {
    form {
      width: 60% !important;
      margin: 0 auto;
    }
  }
  @media screen and (max-width: $small) {
    //do Smth
    width: 90%;
    .login-wrapper {
      h1 {
        font-size: 13px;
      }
    }
    form{
      width: 90% !important;
      margin: 0 auto;
    }
  }
}


 h5{
  font-family: 'Futura B';
}
.excl-class{
  margin-top: 18px;
}
#currency{
  width: 100%;
  height: 28px;
  border-color: #a1a0a0;
}
.m-8{
  margin-top: 60px;
}
.btn-dark{
   
    width: 25%;
    font-family: 'Futura B';
    font-size: 10px;
    color: #000;
    background: #fff;
    border-radius: unset;
    margin-top: 10px;
}
.productInfo_section {
  background-color: white;
  width: 1100px;
  border: 1px solid lightgrey;
  padding: 40px;
  margin: 20px;
}
#product_type{
      width: 250px;
    height: 35px;
    border-style: solid;
    border-color: #a1a0a0;
    margin-bottom: 8px;
}
.label-text{
      text-align: end;
    padding-left: inherit;
}
.pricing label{
  width: 100%;
  text-align: right;
}
#base_currency{
  width: 100%;
  height: 28px;
  border-color: #a1a0a0;
}
#sale_tax_type{
  width: 100%;
  height: 28px;
  border-color: #a1a0a0;
}
.imp-link{
color: #a1a0a0;
}
.red-note{
  color: red;
  line-height: 1.3;
}
.input-design-1{
  
    margin-bottom: 9px;
    border-radius: unset;
        padding: 1px;
    padding-left: 6px;
}

.title-row h5:after{
        font-family: FontAwesome;
  content: "\f054";
  float: right;
}
.sale-box{
  text-align: right;
  padding-right: 0px;
}
.bar {
border-radius: unset;
      width: 250px !important;
    height: 35px!important;
        
}

.label-title{
  text-align: right;
}
label{
  text-align: right;
   padding-left: inherit;
}