<div class="container">
<h1 class="page-title">PRODUCT INFORMATION (1 OF 10)</h1>
<p>please complete the fields below</p>

  <section class= "productInfo_section " >
  	
    <div class="row title-row">

  	<h5>TITLE</h5>
    
    </div>
  <div class="row">
    <div class="col-lg-2 label-title"><label>Product Title* </label></div>
    <div class="col-lg-6"><input type="text" name="product_name" class="form-control input-design-1"></div>
   

  </div>
  <div class="row">
    <div class="col-lg-2">  <label>Brief Product Description*</label></div>
    <div class="col-lg-6"> <input type="text" name="product_desc" class="form-control input-design-1" placeholder="Please enter between 3-7 characters"></div>
    <div class="col-lg-2">
        <a href="#" class="imp-link"> Why we need this?</a>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-2 label-text"> <label for="product_type" style="text-align: right;">Product Type*</label></div>
  <div class="col-lg-2">
     <select name="product_type" id="product_type">
      <option value="other">Other</option>
      <option value="A">A</option>
      <option value="B">B</option>
    </select>
  </div>
  <div class="col-lg-1">
    
  </div>
  <div class="col-lg-3 sale-box">
     <label for="sale-req"> 
      <input type="checkbox" id="sale-req" name="sale-req" value="product">
    Is this a required item for sale?</label>
  </div>
  <div class="col-lg-2">
     <a href="#" class="imp-link"> Full restricted Item list?</a>
  </div>
  </div>
  <div class="row">
    <div class="col-lg-2 label-title">
      
    </div>
    <div class="col-lg-8 red-text">
     
     
  </div>
  <div class="col-lg-2 label-title">
       
    </div>
    </div>
    <div class="row">
    <div class="col-lg-2 label-title">
      
    </div>
    <div class="col-lg-6 red-text">
        <input type="text" name="product_type" class="form-control input-design bar" placeholder="Please specify">    
        <label for="product-var" style="padding-left: 0px;"> 
      <input type="checkbox" id="product-var" name="product-var" value="product">
     this product has multiple varient</label>
  </div>
  <div class="col-lg-2 label-title">
         <a href="#" class="imp-link" style="float: left;padding-top: 30px; "> What id a variant?</a>
    </div>
    <div class="col-lg-2 label-title">
       <p class="red-note">This product has multiple option like different size, color or flavour</p>
    </div>
    </div>

  </section>

  


<section class="productInfo_section ">
  <div class="row title-row">

  <h5 style="margin-bottom: 30px;">PRICING</h5>
  
  </div>
	<div class="row pricing">
    <div class="col-lg-2"><label>RRP*</label></div>
  <div class="col-lg-3"> 
  <input type="number" name="price" class="form-control input-design-1" placeholder="0.00">
  <label for="product-chr"> 
    <input type="checkbox" id="product-chr" name="product-chr" value="product">
   Charge Tax On This Product</label>
</div>
<div class="col-lg-2"><label>Price Excl.Tax</label></div>
  <div class="col-lg-3">

  <input type="number" name="price_excl_tax" class="form-control input-design-1" placeholder="please leave this box blank"> 
   </div>
  <div class="col-lg-2">
      <a href="#" class="imp-link">How Is The Price Shown on Website?</a>
    </div>
</div>
<div class="row pricing">
   <div class="col-lg-2"> <label>Sale Tax Rate</label></div>
  <div class="col-lg-3"> 
    
  <input type="number" name="sale_tax_rate" class="form-control input-design-1" placeholder="20%"> 
</div>
<div class="col-lg-2"><label> Sale Tax Type</label ></div>
  <div class="col-lg-3">

  <select name="sale_tax_type" id="sale_tax_type">
    <option value="VAT">VAT</option>
    <option value="A">A</option>
    <option value="B">B</option>
  </select>
   </div>
  
</div>
<div class="row pricing">
   <div class="col-lg-2"> 
    <label>Base Currency*</label>
   </div>
   <div class="col-lg-8"> 
     <select name="base_currency" id="base_currency">
    <option value="GBP">GBP</option>
    <option value="A">A</option>
    <option value="B">B</option>
  </select>
  <button type="button" class="btn btn-dark">ADD ANOTHER CURRENCY</button>
   </div>
</div>
<div class="row excl-class pricing">
    <div class="col-lg-2"><label>Price Excl.Tax</label></div>
  <div class="col-lg-3"> 
    <input type="number" name="price_excl_tax" class="form-control input-design-1" placeholder="0.00"> 
</div>
<div class="col-lg-2">
    <label>Currency*</label></div>
  <div class="col-lg-3">
   <select name="currency" id="currency">
    <option value="GBP">GBP</option>
    <option value="A">A</option>
    <option value="B">B</option>
  </select>
   </div>
</div>
<div class="row pricing">
  <div class="col-lg-2"></div>
    
  <div class="col-lg-10">
   <p class="imp-link" style="font-size:16px"><i>*Our system will calculate the tax based on the country of destination</i></p>
   </div>
</div>
	
	<div class="row pricing">
  <div class="col-lg-2"><label>Cost Per Item*</label></div>
    
  <div class="col-lg-8">
  <input type="number" name="price_excl_tax" class="form-control input-design-1" placeholder="0.00">
  <p class="imp-link" style="font-size:16px"><i>*This is for insurance & admin purpose only</i></p>
   </div>
   <div class="col-lg-2"><a href="#" class="imp-link">Why Do We Need This?</a></div>
</div>
	
	
	
   
    
   
   
   
   
   
 
   
 
  
  
    
   
  
</section>

<section class="productInfo_section">

<h5>SHIPPING</h5>
<label>Weight*</label>
<input type="number" name="weight" class="form-control input-design-1" placeholder="0.0">
<select name="weight" id="weight">
    <option value="g">g</option>
    <option value="k">k</option>
    <option value="kg">kg</option>
  </select> 

<label> Dimension*</label>
 <input type="number" name="dimension" class="form-control input-design-1" placeholder="">
<select name="dimension" id="dimension">
    <option value="g">g</option>
    <option value="k">k</option>
    <option value="kg">kg</option>
  </select> 

   <label>Country of Origin</label>
   <input type="text" name="country_of_origin" class="form-control input-design-1" placeholder="Select country or region">

   <label>HS(Harmonized System) Code*</label>
   <input type="number" name="HS_code" class="form-control input-design-1" placeholder="Search or enter HS code">
   <p><i>*Manually enter the codes that are longer than 6 numbers</i></p>

   <label>Prohibited Countries*</label>
   <input type="text" name="prohibited_country" class="form-control input-design-1" placeholder="Select country or region"> <a href="#">What Does This Mean?</a> 

</section>


<section class="productInfo_section">
	<h5>PRODUCT SPECIFICATIONS</h5>
	  <label for="product_category">Product Category*</label>
  <select name="product_category" id="product_category">
    <option value="cosmetics">Cosmetics</option>
    <option value="consumable">Consumable</option>
    <option value="accessory">Accessory</option>
     <option value="apparel">Apparel</option>
      <option value="technology">Technology</option>
  </select>

  <p>From the following,please select which apply to the product:</p>

   <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  Alcohol Free</label>
<input type="checkbox" id="category" name="category" value="category">
  <label for="category">  Oil Free</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  Fragrance Free</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  Paraben Free</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  Silicone Free</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  Sulphate Free</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  Palm Oil Free</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category"> Non Comedogenic</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  Hypo-Allergenic</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  Determatological Tested</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  Clinically Proven</label>
  <input type="text" name="category" class="form-control input-design-1" placeholder="Please upload result here">

  <label>Is This Product Not Suiable For AnOne In Particular:</label>
  <input type="text" name="category" class="form-control input-design-1" placeholder="Please specify here"><a href="#">What Does This Mean?</a> 

</section>

<section class="productInfo_section">
	<h5>HELP US GET TO KNOW YOUR PRODUCT</h5>
	<p>From the following,please select which apply to the product:</p>

  <label>Limit Options</label> <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  It's great for Skin</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category"> It's amazing for hairs & nails </label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  It's fab for the mind</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  The body needs this</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  If you are looking for wellness,this is it</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  This is a lifestyle product or accessory</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  This is apparel or an accessory</label>
  <hr>
  
  <h5>SKIN</h5>
  <p>Which Product Statement is true:</p>
 
 <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  I help with rediance & glow</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category"> I help to brighten skin</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  I boost elasticity and hydration</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  I'm best for anti-ageing</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  I'm all about prebiotics & probiotics for skin</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  I helped with inflamed skin</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  I'm great for acne & congestion</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  I work well with eczema and rocsea</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category"> I aid balancing and detoxing </label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  I helped with sun damage and pigmentation</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  I'm best for normal skin</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  I'm best for combination skin</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  I'm best for oily skin</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  I'm best for dry skin</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  I'm best for sensitive skin</label>
  <input type="checkbox" id="category" name="category" value="category">
  <label for="category">  I'm best for mature skin</label>
</section>


<section class="productInfo_section">
	<h5>INGREDIENTS</h5>
	<p>Please copy & paste the ingredients for the product below:</p>
      <a href="#">Why Do We Ask For This?</a>
      <div class="form-group">
    <label for="exampleFormControlTextarea1"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" cols="3" placeholder="Please paste ingredients here, separting each ingredient with a comma"></textarea>
  </div>

</section>


<section class="productInfo_section">
	<h5>E-COMMERCE IMAGES</h5>
	<p>please upload front and back image of the product:</p>
</section>
<button style="margin:5px;" class="btn btn-light">Cancel</button>
<button class="btn btn-dark">Save</button>
<button class="btn btn-dark btn-lg">Next Product ></button>
</div>