<div class="container">
<h1 class="page-title">REGISTER & START SELLING</h1>
<p>Please have the following before you begin</p>
<ul class="registration-req-info">
	<li>Your business name, address and contact information</li>
	<li>Your tax identity information</li>
	<li>Your billing information, including valid billing address, IBAN and BIC</li>
	<li>Full inventory list, including pricing, weight, HS codes and e-commerce industry pack shot images.</li>
</ul>
<p> If you are located outside of the United kingdom, you also need to read and comply with this important <a href="#">Notice For International Sellers</a>
</p>
<p> If you cannot comply with the requirements of this registration, please do not continue with this registration process until you have gathered the relevant information.
</p>
<section class="fulfilment-type">
	<h5>FULFILMENT TYPE</h5>
	<p>Please select your fulfilment type</p>
	<div class="row fbu-detail-wrapper">
		<div class="col-md-4 fbu-detail-col">
			<div class="fbu-img">
			</div>
			<p>A fulfilment solution provided by the Nutricosmetic Company</p>
		</div>
		<div class="col-md-4 fbu-detail-col">
			<div class="fbu-img">
			</div>
			<p>Self-service fulfilment option for our Brand Partner</p>
		</div>
	</div>
</section>
<section class="mt-5">
	<h5 class="mb-4">BRAND PARTNER AFREEMENT</h5>
	<table class=" brand-detail-table">
		<tr>
			<td class="tabel-label">
				<p>Company Name</p>
			</td>
			<td>
				<input type="text" name="company_name" class="form-control input-design-1" placeholder="Campany Name Here">
				<p class="warning">Enter the Company's legal name</p>
			</td>
		</tr>
		<tr>
			<td class="tabel-label">
				<p>Company Director Name</p>
			</td>
			<td>
				<input type="text" name="director_name" class="form-control input-design-1" placeholder="Your FUll Name Here">
				<p class="warning">Enter the director's full legal name</p>
			</td>
		</tr>
		<tr class="table-col-normal">
			<td class="tabel-label-normal">
				<p>The Nutricosmetic Company Marketplace Service Agreement</p>
			</td>
			<td>
				<label class="company_aggrement">
				<input type="checkbox" name="company_aggrement" >
				I have read and accepted the terms and conditions of the <a href="#">Agreement</a>
				</label>
			</td>
		</tr>
	</table>
</section>

<button class="btn btn-black">CONTINUE</button>
</div>